<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_school_root"
              name="School"
              sequence="10"/>

    <menuitem id="menu_school_master"
              name="Master"
              parent="menu_school_root"
              sequence="1"/>

    <menuitem id="menu_school_attendance"
              name="Attendance"
              parent="menu_school_root"
              sequence="2"/>

    <menuitem id="menu_office"
              name="Office"
              parent="menu_school_root"
              sequence="3"/>

    <menuitem id="menu_nutshell"
              name="Nutshell"
              parent="menu_school_root"
              sequence="4"/>


</odoo>